<html>

<div class="project-title">TicketMaster</div>
<h3>New Sprint</h3>
<hr/>
<form id="create-sprint" method="post">
    <div class="row" style="margin-bottom:15px">
        <div class="col-md-5"><label for="starts" class="control-label">Starts: </label></div>
        <div class="col-md-5"><label for="ends" class="control-label">Ends: </label></div>
        <div class="col-md-offset-2"></div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="input-group registration-date-time">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"
                                                          aria-hidden="true"></span></span>
                <input class="form-control" id="starts" type="date"/>
            </div>
        </div>
        <div class="col-md-5">
            <div class="input-group registration-date-time">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"
                                                          aria-hidden="true"></span></span>
                <input class="form-control" id="ends" type="date"/>
            </div>
        </div>
        <div class="col-md-offset-2"></div>
    </div>
    <div class="row">
        <div class="col-md-5" style="padding-top:20px">
            <input type="submit" value="Start Sprint" class="btn btn-info"
                   id="create-sprint-button"/>
        </div>
    </div>
</form>

</html>
