<html>

<div class="modal fade" id="#dailyAlert">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span>
                </button>
                <div>
                    <span style="font-size:90px;color:#46b8da;">ⓘ</span>
                    <h3 style=" margin-top: 0px;"><span id="edno"></span> Daily Meeting</h3>
                    <h4> Daily meeting for project <span id="dve"></span> has begun.</h4>
                    <h4>Would you like to join ?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn btn-info">Accept</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>