<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ScrumTool.com</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/custom.css" rel="stylesheet"/>
    <link href="css/registrationForm.css" rel="stylesheet"/>
</head>
<body>

<div th:include="fragments/navbarLogged :: navbarLogged "></div>
<hr class="custom-border"/>
<div class="custom-container">
    <div class="row" style="height:100%">
        <div class="navigation-col no-float col-md-2 col-lg-2">
            <div th:include="fragments/sidebar :: sidebar"></div>
        </div>
        <div class="col-md-10 col-lg-10">
            <div th:include="fragments/createProject :: createProject"></div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="js/addMembers.js"></script>

</body>
</html>